body{
	font-family: Roboto;
}

.container{
	max-width: 500px;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}


table {
	border-collapse: collapse;
  border-style: hidden;
  table-layout:fixed;
  margin: 0 auto;
}

td{
  border: solid 10px black;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 30px;
}

td div{
  background: white;
  transition-property: background-size;
  transition-duration: 0.1s;
  background-position: center;
  background-repeat: no-repeat;;
  background-size: 0%;
  width: 100%;
  height: 100%;
}

td div.O{
  background-image: url('media/O.png');
  background-size: 100%;
}

td div.X{
  background-image: url('media/X.png');
  background-size: 100%;
}

.info{
	font-size: 30px;
	text-align: center;
	padding: 20px 0;
}

.button{
	padding: 10px;
	background: #eee;
	font-size: 20px;
	margin: 20px auto 0;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}

@media only screen and (max-width: 600px) {
	td{
		border: solid 6px black;
		width: 60px;
		height: 60px;
		padding: 20px;
	}
}
